fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-dotenv
sentence-transformers
huggingface_hub
chromadb
numpy
groq
PyPDF2
slowapi
python-multipart
aiofiles
transformers
tokenizers
nltk
pytesseract
pdf2image
pillow
pdfplumber
docx
pydantic[email]
huggingface_hub[hf_xet]
reportlab
faiss
