fastapi
groq
sqlalchemy
pydantic
pydantic-settings
sentence-transformers
faiss-cpu
nltk
tenacity
numpy
slowapi
python-dotenv
uvicorn
huggingface_hub
chromadb==0.4.24
PyPDF2
python-multipart
aiofiles
transformers
tokenizers
pytesseract
pdf2image
pillow
pdfplumber
docx
reportlab

